<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymelreaf.org">
<head>
    <meta charset="UTF-8">
    <title>😶‍🌫️😶‍🌫️😶‍🌫️</title>
</head>
<body>
<!--此时必须使用post请求方式，因为get请求没有请求体-->
<form th:action="@{/test/RequestBody}" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    <input type="submit">
</form>
<hr>
<a th:href="@{/test/down}">下载图片</a>
<form th:action="@{/test/up}" method="post" enctype="multipart/form-data">
    头像：<input type="file" name="photo"><br>
    <input type="submit" value="上传">
</form>
</body>
</html>